<h3>Beautiful Soup Library</h3>
<p>Document tree is a hiarchical tree of all the html tags.
</p>

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\samar\appdata\local\programs\python\python38\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\samar\appdata\local\programs\python\python38\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\samar\appdata\local\programs\python\python38\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests

In [3]:
%%html

<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [4]:
two_tables = "<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [6]:
table_bs=BeautifulSoup(two_tables,"html.parser")

In [7]:
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr><td>1</td><td>Florida</td><td>300 kg</td></tr>,
 <tr><td>2</td><td>Texas</td><td>94 kg</td></tr>,
 <tr><td>3</td><td>Florida </td><td>80 kg</td></tr>,
 <tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr>,
 <tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr>,
 <tr><td>Little Caesars</td><td>12</td><td>144 </td></tr>,
 <tr><td>Papa John's </td><td>15 </td><td>165</td></tr>]

In [8]:
first_row = table_rows[0]
first_row

In [9]:
for i,row in enumerate(table_rows):
    print("row", i,"is", row)

row 0 is <tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr><td>1</td><td>Florida</td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td>Texas</td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td>Florida </td><td>80 kg</td></tr>
row 4 is <tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr>
row 5 is <tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr>
row 6 is <tr><td>Little Caesars</td><td>12</td><td>144 </td></tr>
row 7 is <tr><td>Papa John's </td><td>15 </td><td>165</td></tr>

In [11]:
for i,row in enumerate(table_rows):
    print("row", i)
    cells = row.find_all("td")
    for j,cell in enumerate(cells):
        print("column ",j," cell",cell)

row 0
column  0  cell <td>Flight No</td>
column  1  cell <td>Launch site</td>
column  2  cell <td>Payload mass</td>
row 1
column  0  cell <td>1</td>
column  1  cell <td>Florida</td>
column  2  cell <td>300 kg</td>
row 2
column  0  cell <td>2</td>
column  1  cell <td>Texas</td>
column  2  cell <td>94 kg</td>
row 3
column  0  cell <td>3</td>
column  1  cell <td>Florida </td>
column  2  cell <td>80 kg</td>
row 4
column  0  cell <td>Pizza Place</td>
column  1  cell <td>Orders</td>
column  2  cell <td>Slices </td>
row 5
column  0  cell <td>Domino's Pizza</td>
column  1  cell <td>10</td>
column  2  cell <td>100</td>
row 6
column  0  cell <td>Little Caesars</td>
column  1  cell <td>12</td>
column  2  cell <td>144 </td>
row 7
column  0  cell <td>Papa John's </td>
column  1  cell <td>15 </td>
column  2  cell <td>165</td>

In [12]:
florida= table_bs.find_all(string="Florida")
florida

['Florida']

<h2>Scrap content from web page</h2>

In [13]:
url = "https://www.ibm.com"

In [14]:
data = requests.get(url).text

In [15]:
soup = BeautifulSoup(data,"html.parser")

In [16]:
for link in soup.find_all("a",href=True):
    print(link.get('href'))

https://www.ibm.com/thought-leadership/institute-business-value/en-us/report/business-trends-2023
#3171776
#3171802
#3171808
#3171812
#3171828
#3171834
https://newsroom.ibm.com/Drawing-Inspiration-from-Stories-in-Asia-Pacific-Training-1-Million-Women-and-Girls-in-the-Region
/in-en/about
#tab_3171780
#tab_3171784
#tab_3171788
#tab_3171792
#tab_3171796
#tab_3171800
https://www.ibm.com/consulting/?lnk=flathl
https://www.ibm.com/consulting/strategy/?lnk=flathl
/in-en/consulting/ibmix?lnk=flathl
https://www.ibm.com/consulting/technology/?lnk=flathl
/in-en/services/operations-consulting?lnk=flathl
/strategic-partnerships?lnk=flathl
https://www.ibm.com/case-studies/air-india-sats-airport-services-private-limited/
https://www.ibm.com/careers/in-en/?lnk=flatitem
https://www.ibm.com/careers/in-en/?lnk=flatitem
https://research.ibm.com/?lnk=ushpv18mAll
https://research.ibm.com/?lnk=ushpv18mAll
https://www.ibm.com/in-en/impact/responsibility
https://www.ibm.com/in-en/impact/responsibility
/in-en/about
#

In [17]:
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

<img alt="Person standing with arms crossed" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Overview.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Overview.jpg
<img alt="Team members at work in a conference room" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Strategy.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Strategy.jpg
<img alt="Coworkers looking at laptops" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Experience.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Experience.jpg
<img alt="Cloud developer with red sweater coding at desk" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Technology.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Technology.jpg
<img alt="Aerial view of automated conveyer belt and machinery at work" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Operations.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Operations.jpg
<img alt="Overhead view of partners collaborating on design with laptops and coffee" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Partners.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20IBM%20Consulting%20-%20Partners.jpg
<img alt="IBM employee on campus" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20IBM%20Careers.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20IBM%20Careers.jpg
<img alt="Gloved hand rinsing tool in sink after research experiment" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Research%20Labs.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Research%20Labs.jpg
<img alt="Hazy city skyline with skyscrapers " class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Corporate%20Social%20Responsibility.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-11-16/XLG%20-%20Inside%20IBM%20-%20Corporate%20Social%20Responsibility.jpg